
<div class="title">
<h1>Blackjack-Week-3</h1>
<br/>
<h4>Rules if the game</h4>
</div>
<p class="rules">
     The object of blackjack is to get closest to 21 without
     going over. You start with 2 cards and may "Hit" for
     additional cards or "Stay" if you're happy with the 
     amount you have. If you pass 21 you bust and lose.
     If the dealer has 21 you lose. Also, the dealer must hit
     until they have atleast 17. If neither of you have 21 or bust
     your scores will be added together and the closest to 21 wins.
</p>



<div class="new_player-center">

<h3>What should we call you?</h3>

<form action="/new_player" method="post">
  <input type="text" name="player_name"/>
  <br/>
  <input type="submit" class="btn btn-primary" />
</form>
</div>

